body {
    margin: 0;
    background-color: #F0F2F5;
}

/* Navigation */

#nav__container {
    margin: 0;
    padding: 0;
    height: 60px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 0 5px lightgrey;
}

#nav__container li {
    list-style: none;
}

#nav__container #nav__left,
#nav__container #nav__middle,
#nav__container #nav__right {
    display: flex;
    align-content: center;
    align-items: center;
}

#nav__left #logo__icon {
    padding: 0px 7px 0px 15px;
    width: 40px;
    height: 40px;
    color: #2e81f4;
}

#search__container {
    padding: 0px 15px;
    display: flex;
    align-items: center;
    width: 210px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #F0F2F5;
}

#search__container #search__input {
    padding: 0 0 0 5px;
    height: 30px;
    background-color: #F0F2F5;
    font-size: 15px;
    border: none;
    outline: none;
}

#nav__middle li {
    margin: 0 5px;
}

#nav__middle #option {
    width: 130px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 25px;
    color: grey;
}

#nav__middle #option:hover {
    background-color: #F0F2F5;
}

#nav__right #profile {
    padding: 0 15px;
    display: flex;
    align-items: center;
    width: 95px;
    height: 35px;
    text-decoration-line: none;
    border-radius: 17px;
}

#nav__right #profile:hover {
    background-color: #F0F2F5;
}

#profile svg {
    padding: 0 5px;
    font-size: 30px;
    color: grey;
}

#profile span {
    font-size: 15px;
    font-weight: 800;
    color: black;
}

/* Auth */
#auth__container {
    padding: 120px 0;
    display: flex;
    justify-content: center;
}

#auth__container #welcome {
    width: 580px;
    padding-top: 55px;
    display: flex;
    flex-direction: column;
}

#welcome span:first-child {
    font-size: 60px;
    font-weight: 900;
    color: #2e81f4;
}

#welcome span:last-child {
    width: 500px;
    height: 90px;
    font-size: 28px;
}

#auth__container #login__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 330px;
    padding: 12px 0;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px lightgrey;
}

#login__container #login__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login__form #login__email,
#login__form #login__password {
    width: 330px;
    height: 22px;
    margin: 6px 0;
    padding: 14px 16px;
    border: 1px solid lightgrey;
    border-radius: 7px;
    font-size: 17px;
    outline-color: #2e81f4;
}

#login__form #login__submit {
    margin: 10px 0;
    width: 362px;
    height: 50px;
    background-color: #2e81f4;
    border: none;
    border-radius: 7px;
    color: white;
    font-size: 18px;
    font-weight: 800;
}

/* Join */
#join__btn__container {
    width: 360px;
    height: 60px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#join__btn__container #join__btn {
    width: 140px;
    height: 50px;
    padding: 0 10px;
    background-color: #42b72a;
    color: white;
    font-size: 17px;
    font-weight: 800;
    border: none;
    border-radius: 7px;
}

.join__modal__overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.75);
}

.join__modal__content {
    width: 430px;
    min-height: 340px;
    background-color: white;
    border: 1px solid lightgray;
    overflow-y: auto;
}

.join__modal__content #join__title__container {
    display: flex;
    justify-content: space-between;
    padding: 10px 16px;
    border-bottom: 1px solid lightgray;
}

#join__title div:first-child {
    font-size: 32px;
    font-weight: 600;
}

#join__title div:last-child {
    font-size: 15px;
    color: #606770;
}

#join__title__container button {
    padding: 0;
    width: 24px;
    height: 26px;
    font-size: 18px;
    background-color: white;
    border: none;
}

#join__form__container {
    padding: 11px 16px;
    display: flex;
    flex-direction: column;
}

#join__form__container #join__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#join__form input {
    margin: 5px 0;
    padding: 11px;
    width: 372px;
    height: 18px;
    background-color: #F0F2F5;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 15px;
    outline: none;
}

#join__form input:last-child {
    margin: 30px 0 10px 0;
    padding: 0px;
    width: 200px;
    height: 40px;
    background-color: #42b72a;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 800;
    color: white;
}

#join__form div {
    margin-top: 20px;
    padding: 10px;
    width: 377px;
    height: 20px;
    background-color: rgb(255, 210, 218);
    border: 1px solid lightcoral;
    border-radius: 5px;
}

/* ResetPassword */

#reset__openBtn__container {
    padding-bottom: 15px;
    width: 360px;
    height: 30px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid lightgrey;
}

#reset__openBtn__container #reset__btn {
    color: #2e81f4;
    background-color: white;
    border: none;
}

#reset__openBtn__container #reset__btn:hover {
    text-decoration-line: underline;
    cursor: pointer;
}

.reset__modal__overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.75);
}

.reset__modal__content {
    width: 420px;
    min-height: 200px;
    background-color: white;
    border: 1px solid lightgray;
}

#reset__title {
    padding: 18px;
    font-size: 20px;
    font-weight: 800;
    border-bottom: 1px solid lightgray;
}

#reset__form__container {
    padding: 18px;
    border-bottom: 1px solid lightgray;
}

#reset__btn__container {
    padding: 18px;
    display: flex;
    float: right;
}

#reset__btn__container button {
    margin: 0 4px;
    padding: 0 20px;
    height: 35px;
    font-size: 15px;
    font-weight: 800;
    border: none;
    border-radius: 10px;
}

#reset__btn__container button:hover {
    cursor: pointer;
}

#reset__btn__container button:first-child {
    background-color: #e4e6eb;
}

#reset__btn__container button:last-child {
    background-color: #2e81f4;
    color: white;
}

#reset__form__container #reset__form {
    margin-top: 18px;
}

#reset__form__container #reset__form input {
    width: 347px;
    padding: 16px;
    font-size: 16px;
    border: 1px solid lightgray;
    border-radius: 5px;
    outline: none;
}

#reset__form__container #reset__error {
    margin-bottom: 18px;
    padding: 10px;
    background-color: rgb(255, 210, 218);
    border: 1px solid lightcoral;
}

#reset__error div:first-child {
    margin-bottom: 3px;
    font-size: 15px;
    font-weight: 800;
}

#reset__error div:last-child {
    font-size: 14px;
}

.reset__ok__overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.75);
}

.reset__ok__content {
    width: 400px;
    min-height:  80px;
    background-color: white;
    border: 1px solid lightgray;
    outline: none;
}

#reset__ok {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#reset__ok div {
    padding: 18px;
}

#reset__ok button {
    margin-bottom: 18px;
    padding: 0 20px;
    height: 35px;
    font-size: 15px;
    font-weight: 800;
    border: none;
    border-radius: 10px;
    background-color: #e4e6eb;
    cursor: pointer;
}